<div class="wrapper d-flex flex-column">
  <header class="d-flex w-100 pr-4 justify-content-between align-items-center border-bottom">
    <div class="img-container p-3">
      <a
        routerLink="/consultations">
        <img class="w-100" src="/assets/img/pharmapartners-logo.svg" alt="Logo" />
      </a>
    </div>
    <div id="profile-btn" class="rounded-circle position-relative border border-dark">
      <div ngbDropdown container="body" #profileDropdown class="w-100 h-100">
        <div class="w-100 h-100 d-flex justify-content-center align-items-center profile-dropdown" ngbDropdownToggle>{{ initials }}</div>
        <div ngbDropdownMenu>
          <button ngbDropdownItem (click)="logout()">
            <fa-icon icon="sign-out-alt"></fa-icon> Logout
          </button>
        </div>
      </div>
    </div>
  </header>
  <div class="d-flex flex-grow-1">
    <div class="p-3 sidebar border-right h-lg-100">
      <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" (click)="toggleNavBar()">
          <div id="navBars">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </button>
        <div class="collapse navbar-collapse show" [ngClass]="{ 'show': navBar }">
          <ul class="list-group w-100">
            <li class="list-group-item border-0 p-0">
              <a
                class="w-100 h-100 p-2 d-block text-decoration-none"
                routerLink="/consultations"
                [routerLinkActive]="['nav-active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                Consult
              </a>
            </li>
            <li class="list-group-item border-0 p-0">
              <a
                class="w-100 h-100 p-2 d-block text-decoration-none"
                routerLink="/consultations/route"
                [routerLinkActive]="['nav-active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                Mijn route
              </a>
            </li>
            <li class="list-group-item border-0 p-0">
              <a
                class="w-100 h-100 p-2 d-block text-decoration-none"
                routerLink="/patients"
                [routerLinkActive]="['nav-active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                Patiënten
              </a>
            </li>
            <li class="list-group-item border-0 p-0">
              <a
                class="w-100 h-100 p-2 d-block text-decoration-none"
                routerLink="/doctors"
                [routerLinkActive]="['nav-active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                Artsen
              </a>
            </li>
            <li class="list-group-item border-0 p-0">
              <a
                class="w-100 h-100 p-2 d-block text-decoration-none"
                routerLink="/prescriptions"
                [routerLinkActive]="['nav-active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                Recepten
              </a>
            </li>
            <li class="list-group-item border-0 p-0">
              <a
                class="w-100 h-100 p-2 d-block text-decoration-none"
                routerLink="/examinations"
                [routerLinkActive]="['nav-active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                Onderzoeken
              </a>
            </li>
            <li class="list-group-item border-0 p-0" *ngIf="authService.user?.roles?.includes(UserRoleEnum.ADMIN)">
              <a
                class="w-100 h-100 p-2 d-block text-decoration-none"
                routerLink="/activities"
                [routerLinkActive]="['nav-active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                Activiteiten
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="main-content d-flex flex-column">
      <div class="breadcrumbs pt-3 px-3">
        <app-ng-dynamic-breadcrumb [bgColor]="'#FFFFFF'" [fontColor]="'#003E79'"></app-ng-dynamic-breadcrumb>
      </div>
      <router-outlet class="master-layout-router"></router-outlet>
    </div>
  </div>
</div>
