<div class="wrapper d-flex flex-column">
  <header class="d-flex w-100 pr-4 justify-content-between align-items-center border-bottom">
    <div class="img-container p-3">
      <img class="w-100" src="/assets/img/pharmapartners-logo.svg" alt="Logo" />
    </div>
    <div id="profile-btn" class="rounded-circle position-relative border border-dark">
      <div class="w-100 h-100 d-flex justify-content-center align-items-center" (click)="profileClick()">JD</div>
      <div class="popup position-absolute p-2 border bg-white" *ngIf="profile">
        <a>Logout</a>
      </div>
    </div>
  </header>
  <div class="d-flex flex-grow-1">
    <div class="p-3 sidebar border-right h-100">
      <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" (click)="toggleNavBar()">
          <div id="navBars">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </button>
        <div class="collapse navbar-collapse show" [ngClass]="{ 'show': navBar }">
          <ul class="list-group w-100">
            <li class="list-group-item border-0 p-0">
              <a
                class="w-100 h-100 p-2 d-block text-decoration-none"
                routerLink="/consultation"
                [routerLinkActive]="['nav-active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                Consult
              </a>
            </li>
            <li class="list-group-item border-0 p-0">
              <a
                class="w-100 h-100 p-2 d-block text-decoration-none"
                routerLink="/patients"
                [routerLinkActive]="['nav-active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                Patiënten
              </a>
            </li>
            <li class="list-group-item border-0 p-0">
              <a
                class="w-100 h-100 p-2 d-block text-decoration-none"
                routerLink="/doctors"
                [routerLinkActive]="['nav-active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                Doktoren
              </a>
            </li>
            <li class="list-group-item border-0 p-0">
              <a
                class="w-100 h-100 p-2 d-block text-decoration-none"
                routerLink="/prescriptions"
                [routerLinkActive]="['nav-active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                Recepten
              </a>
            </li>
            <li class="list-group-item border-0 p-0">
              <a
                class="w-100 h-100 p-2 d-block text-decoration-none"
                routerLink="/examinations"
                [routerLinkActive]="['nav-active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                Onderzoeken
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="main-content d-flex flex-column">
      <div class="breadcrumbs pt-3 px-3">
        <app-ng-dynamic-breadcrumb [bgColor]="'#FFFFFF'" [fontColor]="'#003E79'"></app-ng-dynamic-breadcrumb>
      </div>
      <router-outlet class="master-layout-router"></router-outlet>
    </div>
  </div>
</div>
