header .img-container, .sidebar{
  width: 250px;
}

.main-content, .header-sidebar {
  width: calc(100% - 250px);
}

#profile-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#profile-btn .popup {
  top: calc(100% + 3px);
  left: 50%;
  transform: translate(-50%, 0);
}
