<div class="vh-100 d-flex flex-column">
  <header class="d-flex w-100 pr-4 justify-content-between align-items-center border-bottom">
    <div class="img-container p-3">
      <img class="w-100" src="/assets/img/pharmapartners-logo.svg" alt="Logo" />
    </div>
    <div id="profile-btn" class="rounded-circle position-relative border border-dark">
      <div class="w-100 h-100 d-flex justify-content-center align-items-center" (click)="profileClick()">JD</div>
      <div class="popup position-absolute p-2 border bg-white" *ngIf="profile">
        <a>logout</a>
      </div>
    </div>
  </header>
  <div class="d-flex flex-grow-1">
    <div class="p-3 sidebar border-right h-100">
      <nav>
        <ul class="list-group">
          <li class="list-group-item border-0"><a routerLink="/consult" [routerLinkActive]="['active']">Consult</a></li>
          <li class="list-group-item border-0"><a>Patienten</a></li>
          <li class="list-group-item border-0"><a>Doktoren</a></li>
          <li class="list-group-item border-0"><a>Recepten</a></li>
          <li class="list-group-item border-0"><a>Onderzoeken</a></li>
        </ul>
      </nav>
    </div>
    <div class="main-content">
      <div class="breadcrumbs p-3">
        <span>home</span> /
        <span>consults</span>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
