<div class="form-spinner" *ngIf="(!user?.id); else userDetail">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<ng-template #userDetail>
  <div class="page container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h2>Dokter</h2>
      </div>
      <div class="col-md-6 text-right">
        <button class="btn btn-primary" (click)="userEmitter.next(user)">Verwijderen</button>
        <button routerLink="edit" class="btn btn-primary">Bewerken</button>
      </div>
    </div>
    <div class="row py-3">
      <div class="col-md-6">
        <div class="form-group">
          <h3>Informatie</h3>
          <ul class="list-group">
              <li class="list-group-item bold d-flex justify-content-between w-100"><span>Naam:</span><span>{{ user.name }} ({{ user.gender }}, 19)</span></li>
              <li class="list-group-item bold d-flex justify-content-between w-100"><span>Gebruikersnaam:</span><span>{{ user.username }}</span></li>
              <li class="list-group-item bold d-flex justify-content-between w-100"><span>Geboortedatum:</span><span>{{ user.dob }}</span></li>
              <li class="list-group-item bold d-flex justify-content-between w-100"><span>Email:</span><span>{{ user.email }}</span></li>
              <li class="list-group-item bold d-flex justify-content-between w-100"><span>Telefoonnummer:</span><span>{{ user.phoneNumber }}</span></li>
              <li class="list-group-item bold d-flex justify-content-between w-100"><span>Adres:</span><span>{{ user.street }} {{ user.houseNumber }}{{ user.houseNumberAddon }}</span></li>
              <li class="list-group-item bold d-flex justify-content-between w-100"><span>Postcode en Land:</span><span>{{ user.postalCode }} {{ user.city }}, {{ user.country }}</span></li>
          </ul>
        </div>
      </div>
      <div class="col-md-10">
        <app-datatable-component [service]="consultationService" [retrievalParameters]="[user.id]" [show]="tableHeaders" [actions]="tableActions"></app-datatable-component>
      </div>
    </div>
    <app-delete-modal [deleteEntity]="deleteEntity" [service]="userService" (deleteComplete)="onDeleteComplete($event)"></app-delete-modal>
  </div>
</ng-template>
