<div class="form-spinner" *ngIf="(!user?.id); else userDetail">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<ng-template #userDetail>
  <div class="page container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h2>Dokter</h2>
      </div>
      <div class="col-md-6 text-right">
        <button class="btn btn-primary" (click)="delete()">Verwijderen</button>
        <button routerLink="edit" class="btn btn-primary">Bewerken</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <h5>Informatie</h5>
        <div>{{ user.name }}</div>
        <div>{{ user.username }}</div>
        <div>{{ user.dob }}</div>
        <div>{{ user.email }}</div>
        <div>{{ user.phoneNumber }}</div>
        <div>{{ user.street }} {{ user.houseNumber }}{{ user.houseNumberAddon }}</div>
        <div>{{ user.postalCode }} {{ user.city }}, {{ user.country }}</div>
      </div>
      <div class="col-md-10">
        TABLE
      </div>
    </div>
  </div>
</ng-template>
