<div class="vh-100 vw-100 d-flex justify-content-center align-items-center">
  <div class="col-md-4 col-xl-3">
    <div class="img-container pb-5">
      <img src="/assets/img/pharmapartners-logo.svg" alt="logo" />
    </div>
    <form method="post" class="w-100" #loginForm="ngForm" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
        <div class="input-validation-error-text" *ngIf="form.controls['email'].errors.email">Email is invalid</div>
        <div class="input-validation-error-text" *ngIf="form.controls['email'].errors.required">Email is required</div>
        <div class="input-validation-error-text" *ngIf="form.controls['email'].errors.incorrect">The email and/or password are invalid.</div>
      </div>
      <div class="form-group w-100">
        <input type="text" [class.input-validation-error]="form.controls['email'].invalid && form.controls['email'].touched" class="form-control" name="email" id="email" placeholder="Email" formControlName="email" />
      </div>
      <div *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
        <div class="input-validation-error-text" *ngIf="form.controls['password'].errors.required">Password is required</div>
        <div class="input-validation-error-text" *ngIf="form.controls['password'].errors.incorrect">The email and/or password are invalid.</div>
      </div>
      <div class="form-group w-100">
        <input [class.input-validation-error]="form.controls['password'].invalid && form.controls['password'].touched" type="password" class="form-control" name="password" placeholder="Password" formControlName="password" />
      </div>
      <button type="submit" id="login-submit-btn" class="btn btn-primary float-right">
        Login
      </button>
    </form>
  </div>
</div>
