<div class="page container-fluid">
    <div class="row">
        <div class="col">
            <h2>Recepten</h2>
        </div>  
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            <h5>Patiënt</h5>
            <div class="border p3">
                <div class="row p-3">
                    <div class="col-md-10">
                        <h6>Max Bogaers (Man, 19)</h6>
                        <span>20-01-2001</span><br>
                        <span>max@example.net</span><br>
                        <span>+31 6 12345678</span>
                    </div>
                    <div class="col-md-2 text-right">
                        <button class="btn btn-primary">Eye</button>
                    </div>               
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h5>Dokter</h5>
            <div class="border p3">
                <div class="row p-3">
                    <div class="col-md-10">
                        <h6>Jules (Man, 18)</h6>
                        <span>21-06-2002</span><br>
                        <span>jules@example.net</span><br>
                        <span>+31 6 12345678</span>
                    </div>
                    <div class="col-md-2 text-right">
                        <button class="btn btn-primary">Eye</button>
                    </div>               
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h5>Medicijn</h5>
            <div class="border p3">
                <div class="row p-3">
                    <div class="col">
                        <span>Morfine 2 maal daags 2 tabletten</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h5>Data</h5>
            <div class="border p3">
                <div class="row p-3">
                    <div class="col">
                        <span>17-12-2020</span>
                    </div>
                </div>
            </div>
            <div class="border p3 mt-3">
                <div class="row p-3">
                    <div class="col">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
