<div class="p-3 overflow-auto">
  <h3 class="mb-3">Visite</h3>
  <div class="d-flex mb-5 flex-column flex-md-row">
    <div class="col-md-6">
      <h4>Betreft patient</h4>
      <ul class="list-group w-100">
        <li class="list-group-item bold d-flex justify-content-between w-100"><span>naam:</span><span>Max Bogaers (Man, 19)</span></li>
        <li class="list-group-item d-flex justify-content-between w-100"><span>Geboorte datum:</span><span>20-01-2001</span></li>
        <li class="list-group-item d-flex justify-content-between w-100"><span>email:</span><span>max@example.com</span></li>
        <li class="list-group-item d-flex justify-content-between w-100"><span>adres:</span><span>ergens in made</span></li>
        <li class="list-group-item d-flex justify-content-between w-100"><span>bsn:</span><span>123456789</span></li>
        <li class="list-group-item d-flex justify-content-between w-100"><span>telefoon nummer:</span><span>+31 6 12345678</span></li>
      </ul>
    </div>
    <div class="col-md-6 mt-5 mt-md-0">
      <h4>Huidige klachten/problemen</h4>
      <div class="table-wrapper overflow-auto">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Datum</th>
            <th scope="col w-50">Klacht/Probleem</th>
            <th scope="col">ICPC</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th>21-06-2002</th>
            <td class="w-50">Roken: 15/dag</td>
            <td>P17</td>
          </tr>
          <tr>
            <th>21-06-2003</th>
            <td class="w-50">Hooikoorts/allergische rhinitis; bbom+;gras+</td>
            <td>R97</td>
          </tr>
          <tr>
            <th>21-06-2004</th>
            <td class="w-50">cvrm</td>
            <td>K49.01</td>
          </tr>
          <tr>
            <th>21-06-2002</th>
            <td class="w-50">Roken: 15/dag</td>
            <td>P17</td>
          </tr>
          <tr>
            <th>21-06-2003</th>
            <td class="w-50">Hooikoorts/allergische rhinitis; bbom+;gras+</td>
            <td>R97</td>
          </tr>
          <tr>
            <th>21-06-2004</th>
            <td class="w-50">cvrm</td>
            <td>K49.01</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="d-flex mb-5 flex-column flex-md-row">
    <div class="col-md-6">
      <h4>Voorgeschiedenis</h4>
      <div class="table-wrapper overflow-auto">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Datum</th>
            <th scope="col w-50">Klacht/Probleem</th>
            <th scope="col">ICPC</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th>21-06-2002</th>
            <td class="w-50">Roken: 15/dag</td>
            <td>P17</td>
          </tr>
          <tr>
            <th>21-06-2003</th>
            <td class="w-50">Hooikoorts/allergische rhinitis; bbom+;gras+</td>
            <td>R97</td>
          </tr>
          <tr>
            <th>21-06-2004</th>
            <td class="w-50">cvrm</td>
            <td>K49.01</td>
          </tr>
          <tr>
            <th>21-06-2002</th>
            <td class="w-50">Roken: 15/dag</td>
            <td>P17</td>
          </tr>
          <tr>
            <th>21-06-2003</th>
            <td class="w-50">Hooikoorts/allergische rhinitis; bbom+;gras+</td>
            <td>R97</td>
          </tr>
          <tr>
            <th>21-06-2004</th>
            <td class="w-50">cvrm</td>
            <td>K49.01</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6 mt-5 mt-md-0">
      <h4>Lichamelijk onderzoek</h4>
      <div class="table-wrapper overflow-auto">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Type</th>
            <th scope="col">Datum</th>
            <th scope="col">Meeting</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th>Lengte (cm)</th>
            <td>21-06-2018</td>
            <td>172 cm</td>
          </tr>
          <tr>
            <th></th>
            <td>21-06-2009</td>
            <td>178 cm</td>
          </tr>
          <tr>
            <th>Gewicht (kg)</th>
            <td>21-06-2020</td>
            <td>85 kg</td>
          </tr>
          <tr>
            <th></th>
            <td>21-06-2018</td>
            <td>73 kg</td>
          </tr>
          <tr>
            <th></th>
            <td>21-06-2009</td>
            <td>68 kg</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="d-flex mb-5 flex-column flex-md-row">
    <div class="col-md-6">
      <h4>Resultaten aanvullend onderzoek</h4>
      <div class="table-wrapper overflow-auto">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Type</th>
            <th scope="col">Datum</th>
            <th scope="col">Meeting</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th>Cholesterol totaal</th>
            <td>21-06-2018</td>
            <td>6,4 mmol/L</td>
          </tr>
          <tr>
            <th>HDL-Cholesterol</th>
            <td>21-06-2020</td>
            <td>0,9 mmol/L</td>
          </tr>
          <tr>
            <th>LDL-Cholesterol</th>
            <td>21-06-2020</td>
            <td>4,2 mmol/L</td>
          </tr>
          <tr>
            <th>Triglyceriden</th>
            <td>21-06-2020</td>
            <td>7 mmol/L</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6 mt-5 mt-md-0">
      <h4>Journaal</h4>
      <div class="table-wrapper overflow-auto">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Datum</th>
            <th scope="col">Type</th>
            <th scope="col w-50"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th>21-06-2002</th>
            <td>S</td>
            <td class="w-50">Lorem ipsum dolor sit amet consectetuer adipiscing elit anean commodo ligula eget dolor</td>
          </tr>
          <tr>
            <th></th>
            <td>O</td>
            <td class="w-50">Lorem ipsum dolor sit amet consectetuer adipiscing elit anean commodo ligula eget dolor</td>
          </tr>
          <tr>
            <th>21-06-2003</th>
            <td>S</td>
            <td class="w-50">Lorem ipsum dolor sit amet consectetuer adipiscing elit anean commodo ligula eget dolor</td>
          </tr>
          <tr>
            <th></th>
            <td>O</td>
            <td class="w-50">Lorem ipsum dolor sit amet consectetuer adipiscing elit anean commodo ligula eget dolor</td>
          </tr>
          <tr>
            <th></th>
            <td>P</td>
            <td class="w-50">Lorem ipsum dolor sit amet consectetuer adipiscing elit anean commodo ligula eget dolor</td>
          </tr>
          <tr>
            <th>21-06-2004</th>
            <td>S</td>
            <td class="w-50">Lorem ipsum dolor sit amet consectetuer adipiscing elit anean commodo ligula eget dolor</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="d-flex mb-5 flex-column flex-md-row">
    <div class="col-md-6">
      <h4>Voorgeschiedenis</h4>
      <div class="table-wrapper overflow-auto">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Datum</th>
            <th scope="col w-50">Klacht/Probleem</th>
            <th scope="col">ICPC</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th>21-06-2002</th>
            <td class="w-50">Roken: 15/dag</td>
            <td>P17</td>
          </tr>
          <tr>
            <th>21-06-2003</th>
            <td class="w-50">Hooikoorts/allergische rhinitis; bbom+;gras+</td>
            <td>R97</td>
          </tr>
          <tr>
            <th>21-06-2004</th>
            <td class="w-50">cvrm</td>
            <td>K49.01</td>
          </tr>
          <tr>
            <th>21-06-2002</th>
            <td class="w-50">Roken: 15/dag</td>
            <td>P17</td>
          </tr>
          <tr>
            <th>21-06-2003</th>
            <td class="w-50">Hooikoorts/allergische rhinitis; bbom+;gras+</td>
            <td>R97</td>
          </tr>
          <tr>
            <th>21-06-2004</th>
            <td class="w-50">cvrm</td>
            <td>K49.01</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6 mt-5 mt-md-0">
      <h4>Lichamelijk onderzoek</h4>
      <div class="table-wrapper overflow-auto">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Type</th>
            <th scope="col">Datum</th>
            <th scope="col">Meeting</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th>Lengte (cm)</th>
            <td>21-06-2018</td>
            <td>172 cm</td>
          </tr>
          <tr>
            <th></th>
            <td>21-06-2009</td>
            <td>178 cm</td>
          </tr>
          <tr>
            <th>Gewicht (kg)</th>
            <td>21-06-2020</td>
            <td>85 kg</td>
          </tr>
          <tr>
            <th></th>
            <td>21-06-2018</td>
            <td>73 kg</td>
          </tr>
          <tr>
            <th></th>
            <td>21-06-2009</td>
            <td>68 kg</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="d-flex mb-5 flex-column flex-md-row">
    <div class="col-md-6">
      <h4>Medicatie</h4>
      <div class="table-wrapper overflow-auto">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Omschrijving</th>
            <th scope="col">Start datum</th>
            <th scope="col">Eind datum</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th>Morfine 22mg tweemaal daags 1 tablet</th>
            <td>17-12-2020</td>
            <td></td>
          </tr>
          <tr>
            <th>Morfine 22mg tweemaal daags 1 tablet</th>
            <td>17-12-2020</td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6 mt-5 mt-md-0">
      <h4>Intoleranties</h4>
      <div class="table-wrapper overflow-auto">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Omschrijving</th>
            <th scope="col">Start datum</th>
            <th scope="col">Eind datum</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th>Lactose intolerantie</th>
            <td>17-12-2020</td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <button class="btn btn-primary float-right mb-3">beëindig consult</button>
</div>
