<div class="p-3 overflow-auto">
  <h3 class="mb-3">Visite</h3>
  <div class="d-flex mb-5 flex-column flex-md-row">
    <div class="col-md-6" *ngIf="consultation$ | async as consultation">
      <h4>Betreft patiënt</h4>
      <ul class="list-group">
        <li class="list-group-item bold d-flex justify-content-between w-100"><span>Naam:</span><span>{{consultation.patient.name}} ({{getGender(consultation.patient.gender)}}, {{moment().diff(consultation.patient.dob, "years")}})</span></li>
        <li class="list-group-item d-flex justify-content-between w-100"><span>Geboortedatum:</span><span>{{moment(consultation.patient.dob).format("LL")}}</span></li>
        <li class="list-group-item d-flex justify-content-between w-100"><span>Email:</span><span>{{consultation.patient.email}}</span></li>
        <li class="list-group-item d-flex justify-content-between w-100"><span>Adres:</span><span>{{consultation.patient.street}} {{consultation.patient.houseNumber}}{{consultation.patient.houseNumberAddon}}, {{consultation.patient.city}}</span></li>
        <li class="list-group-item d-flex justify-content-between w-100"><span>Bsn:</span><span>{{consultation.patient.bsn}}</span></li>
        <li class="list-group-item d-flex justify-content-between w-100"><span>Telefoon nummer:</span><span>{{consultation.patient.phoneNumber}}</span></li>
      </ul>
    </div>
    <div class="col-md-6 mt-5 mt-md-0">
      <h4>Huidige klachten/problemen</h4>
      <div class="table-wrapper overflow-auto">
        <table class="table table-striped" aria-label="Een tabel van de huidige klachten/problemen" *ngIf="currentEpisodes$ | async as episodes">
          <thead>
          <tr>
            <th scope="col">Datum</th>
            <th scope="col w-50">Klacht/Probleem</th>
            <th scope="col">ICPC</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let episode of episodes">
            <td>{{moment(episode.startDate).format("LL")}}</td>
            <td class="w-50">{{episode.description}}</td>
            <td>{{ episode.icpcCode?.code || " - " }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="d-flex mb-5 flex-column flex-md-row">
    <div class="col-md-6">
      <h4>Voorgeschiedenis</h4>
      <div class="table-wrapper overflow-auto">
        <table class="table table-striped" aria-label="Een tabel van de huidige klachten/problemen" *ngIf="expiredEpisodes$ | async as episodes">
          <thead>
          <tr>
            <th scope="col">Datum</th>
            <th scope="col w-50">Klacht/Probleem</th>
            <th scope="col">ICPC</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let episode of episodes">
            <td>{{moment(episode.startDate).format("LL")}}</td>
            <td class="w-50">{{episode.description}}</td>
            <td>{{ episode.icpcCode?.code || " - " }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6 mt-5 mt-md-0">
      <h4>Lichamelijk onderzoek</h4>
      <div class="table-wrapper overflow-auto">
        <table class="table table-striped" aria-label="Een tabel van de lichamelijke onderzoeken" *ngIf="physicalExaminations$ | async as physicalExaminations">
          <thead>
          <tr>
            <th scope="col">Type</th>
            <th scope="col">Datum</th>
            <th scope="col">Meeting</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let physicalExaminationTypes of physicalExaminations;">
            <tr *ngFor="let physicalExamination of physicalExaminationTypes; let i = index" [attr.data-index]="i">
              <td>{{i == 0 ? physicalExamination["examinationType"]["name"] : ""}}</td>
              <td>{{moment(physicalExamination.date).format("LL")}}</td>
              <td>{{physicalExamination.value}} {{physicalExamination["examinationType"]["unit"]}}</td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="d-flex mb-5 flex-column flex-md-row">
    <div class="col-md-6">
      <h4>Resultaten aanvullend onderzoek</h4>
      <div class="table-wrapper overflow-auto">
        <table class="table table-striped" aria-label="Een tabel van de aanvullende onderzoeken" *ngIf="additionalExaminations$ | async as additionalExaminations">
          <thead>
          <tr>
            <th scope="col">Type</th>
            <th scope="col">Datum</th>
            <th scope="col">Meeting</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let additionalExaminationTypes of additionalExaminations;">
            <tr *ngFor="let additionalExamination of additionalExaminationTypes; let i = index" [attr.data-index]="i">
              <td>{{i == 0 ? additionalExamination["additionalExaminationType"]["name"] : ""}}</td>
              <td>{{moment(additionalExamination.date).format("LL")}}</td>
              <td>{{additionalExamination.value}} {{additionalExamination["additionalExaminationType"]["unit"]}}</td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6 mt-5 mt-md-0">
      <h4>Journaal</h4>
      <div class="table-wrapper overflow-auto">
        <table class="table table-striped" aria-label="Een tabel van de journalen" *ngIf="userJournal$ | async as userJournals">
          <thead>
          <tr>
            <th scope="col">Datum</th>
            <th scope="col">Type</th>
            <th scope="col w-50"></th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let userJournalItems of userJournals;">
            <tr *ngFor="let userJournal of userJournalItems; let i = index" [attr.data-index]="i">
              <td>{{i == 0 ? moment(userJournal.createdAt).format("LL") : ""}}</td>
              <td>{{ UserJournalType[userJournal.property] }}</td>
              <td>{{userJournal.description}}</td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="d-flex mb-5 flex-column flex-md-row">
    <div class="col-md-6">
      <h4>Medicatie</h4>
      <div class="table-wrapper overflow-auto">
        <table class="table table-striped" aria-label="Een tabel van de inroleranties" *ngIf="prescriptions$ | async as prescriptions">
          <thead>
          <tr>
            <th scope="col">Omschrijving</th>
            <th scope="col">Start datum</th>
            <th scope="col">Eind datum</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let prescription of prescriptions">
            <td>{{prescription.description}}</td>
            <td>{{moment(prescription.startDate).format("LL")}}</td>
            <td>{{moment(prescription.endDate).format("LL")}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6 mt-5 mt-md-0">
      <h4>Intoleranties</h4>
      <div class="table-wrapper overflow-auto">
        <table class="table table-striped" aria-label="Een tabel van de inroleranties" *ngIf="intolerances$ | async as intolerances">
          <thead>
          <tr>
            <th scope="col">Omschrijving</th>
            <th scope="col">Start datum</th>
            <th scope="col">Eind datum</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let intolerance of intolerances">
            <td>{{intolerance.description}}</td>
            <td>{{moment(intolerance.startDate).format("LL")}}</td>
            <td>{{moment(intolerance.endDate).format("LL")}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <ng-template [ngIf]="consultation && !consultation.completed">
    <form (ngSubmit)="completeConsult()">
      <button class="btn btn-primary float-right" type="submit">Consult Afronden</button>
    </form>
  </ng-template>
</div>
