<div class="page container-fluid d-flex flex-column">
  <nav class="navbar mobile-nav-steps position-relative">
    <div class="steps-buttons">
      <div class="d-none step align-items-center justify-content-center" (click)="toggleSteps()"
              routerLink="/consultation/{{consult.Id}}"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }">Algemene informatie</div>
      <div class="d-none step align-items-center justify-content-center" (click)="toggleSteps()"
              routerLink="/consultation/{{consult.Id}}/anamnese"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }">Anamnese</div>
      <div class="d-none step align-items-center justify-content-center" (click)="toggleSteps()"
              routerLink="/consultation/{{consult.Id}}/biometrie"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }">Biometrie</div>
      <div class="d-none step align-items-center justify-content-center" (click)="toggleSteps()"
              routerLink="/consultation/{{consult.Id}}/onderzoek"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }">Aanvullend onderzoek</div>
      <div class="d-none step align-items-center justify-content-center" (click)="toggleSteps()"
              routerLink="/consultation/{{consult.Id}}/evaluatie"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }">Evaluatie</div>
      <div class="d-none step align-items-center justify-content-center" (click)="toggleSteps()"
              routerLink="/consultation/{{consult.Id}}/beleid"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }">Beleid</div>
      <div class="d-none step align-items-center justify-content-center" (click)="toggleSteps()"
              routerLink="/consultation/{{consult.Id}}/samenvatting"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }">Samenvatting</div>
    </div>
    <div class="position-absolute navbar-nav-container d-none" [ngClass]="{ 'show': steps }">
      <ul class="d-flex flex-column navbar-nav">
        <li class="nav-item step-item bg-light">
          <a class="nav-link w-100 p-3 d-flex align-items-center"
             routerLink="/consultation/{{consult.Id}}"
             [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{ exact: true }"><span class="w-100 text-center">Algemene informatie</span></a>
        </li>
        <li class="nav-item step-item bg-light">
          <a class="nav-link w-100 p-3 d-flex align-items-center"
             routerLink="anamnese"
             [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{ exact: true }"><span class="w-100 text-center">Anamnese</span></a>
        </li>
        <li class="nav-item step-item bg-light">
          <a class="nav-link w-100 p-3 d-flex align-items-center"
             routerLink="biometrie"
             [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{ exact: true }"><span class="w-100 text-center">Biometrie</span></a>
        </li>
        <li class="nav-item step-item bg-light">
          <a class="nav-link w-100 p-3 d-flex align-items-center"
             routerLink="onderzoek"
             [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{ exact: true }"><span class="w-100 text-center">Aanvullend onderzoek</span></a>
        </li>
        <li class="nav-item step-item bg-light">
          <a class="nav-link w-100 p-3 d-flex align-items-center"
             routerLink="evaluatie"
             [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{ exact: true }"><span class="w-100 text-center">Evaluatie</span></a>
        </li>
        <li class="nav-item step-item bg-light">
          <a class="nav-link w-100 p-3 d-flex align-items-center"
             routerLink="beleid"
             [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{ exact: true }"><span class="w-100 text-center">Beleid</span></a>
        </li>
        <li class="nav-item step-item bg-light">
          <a class="nav-link w-100 p-3 d-flex align-items-center"
             routerLink="samenvatting"
             [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{ exact: true }"><span class="w-100 text-center">Samenvatting</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navbar nav-steps pl-0">
    <ul class="d-flex flex-row navbar-nav w-100">
      <li class="nav-item ml-1 step-item">
        <a class="step nav-link w-100 ml-1 p-3 d-flex align-items-center"
           routerLink="/consultation/{{consult.Id}}"
           [routerLinkActive]="['active']"
           [routerLinkActiveOptions]="{ exact: true }"><span class="w-100 text-center">Algemene informatie</span></a>
      </li>
      <li class="nav-item ml-1 step-item">
        <a class="step nav-link w-100 ml-1 p-3 d-flex align-items-center"
           routerLink="anamnese"
           [routerLinkActive]="['active']"
           [routerLinkActiveOptions]="{ exact: true }"><span class="w-100 text-center">Anamnese</span></a>
      </li>
      <li class="nav-item ml-1 step-item">
        <a class="step nav-link w-100 ml-1 p-3 d-flex align-items-center"
           routerLink="biometrie"
           [routerLinkActive]="['active']"
           [routerLinkActiveOptions]="{ exact: true }"><span class="w-100 text-center">Biometrie</span></a>
      </li>
      <li class="nav-item ml-1 step-item">
        <a class="step nav-link w-100 ml-1 p-3 d-flex align-items-center"
           routerLink="onderzoek"
           [routerLinkActive]="['active']"
           [routerLinkActiveOptions]="{ exact: true }"><span class="w-100 text-center">Aanvullend onderzoek</span></a>
      </li>
      <li class="nav-item ml-1 step-item">
        <a class="step nav-link w-100 ml-1 p-3 d-flex align-items-center"
           routerLink="evaluatie"
           [routerLinkActive]="['active']"
           [routerLinkActiveOptions]="{ exact: true }"><span class="w-100 text-center">Evaluatie</span></a>
      </li>
      <li class="nav-item ml-1 step-item">
        <a class="step nav-link w-100 ml-1 p-3 d-flex align-items-center"
           routerLink="beleid"
           [routerLinkActive]="['active']"
           [routerLinkActiveOptions]="{ exact: true }"><span class="w-100 text-center">Beleid</span></a>
      </li>
      <li class="nav-item ml-1 step-item">
        <a class="step nav-link w-100 ml-1 p-3 d-flex align-items-center"
           routerLink="samenvatting"
           [routerLinkActive]="['active']"
           [routerLinkActiveOptions]="{ exact: true }"><span class="w-100 text-center">Samenvatting</span></a>
      </li>
    </ul>
  </nav>
  <div class="flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>
