<div *ngIf="consultation$ | async as consultation">
  <div class="d-flex flex-wrap col-sm-flex-column p-3">
    <div class="col-12 col-md-6">
      <h3>Patient</h3>
      <ul class="list-group">
        <li class="list-group-item bold d-flex justify-content-between w-100"><span>Naam:</span><span>{{consultation.patient.name}} ({{getGender(consultation.patient.gender)}}, {{moment().diff(consultation.patient.dob, "years")}})</span></li>
        <li class="list-group-item d-flex justify-content-between w-100"><span>Geboortedatum:</span><span>{{moment(consultation.patient.dob).format("LL")}}</span></li>
        <li class="list-group-item d-flex justify-content-between w-100"><span>Email:</span><span>{{consultation.patient.email}}</span></li>
        <li class="list-group-item d-flex justify-content-between w-100"><span>Bsn:</span><span>{{consultation.patient.bsn}}</span></li>
        <li class="list-group-item d-flex justify-content-between w-100"><span>Telefoon nummer:</span><span>{{consultation.patient.phoneNumber}}</span></li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-6 mt-3 mt-md-0">
      <h3>Dokter</h3>
      <ul class="list-group">
        <li class="list-group-item bold d-flex justify-content-between w-100"><span>Naam:</span><span>{{consultation.doctor.name}} ({{getGender(consultation.doctor.gender)}}, {{moment().diff(consultation.doctor.dob, "years")}})</span></li>
        <li class="list-group-item d-flex justify-content-between w-100"><span>Geboortedatum:</span><span>{{moment(consultation.doctor.dob).format("LL")}}</span></li>
        <li class="list-group-item d-flex justify-content-between w-100"><span>Email:</span><span>{{consultation.doctor.email}}</span></li>
        <li class="list-group-item d-flex justify-content-between w-100"><span>Telefoon nummer:</span><span>{{consultation.doctor.phoneNumber}}</span></li>
      </ul>
    </div>
  </div>
  <div class="d-flex flex-column flex-md-row px-3 pt-3">
    <div class="col-md-6 col-12 d-flex flex-column">
      <textarea class="form-control mb-3" disabled>{{ consultation.comments }}</textarea>
      <iframe
        title="Patiënt adres"
        class="mt-2 flex-grow-1"
        width="100%"
        style="border:0"
        [src]="sanitizer.bypassSecurityTrustResourceUrl(map)" allowfullscreen>
      </iframe>
    </div>
    <div class="col-md-6 col-12 d-flex flex-column flex-sm-row justify-content-between mt-3 mt-md-0 align-items-center">
      <ngb-datepicker #dp [(ngModel)]="model" [startDate]="model"></ngb-datepicker>
      <div class="h-100 d-flex justify-content-center align-items-center time flex-grow-1">
        <span>{{time}}</span>
      </div>
    </div>
  </div>
</div>
