th.sortable {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.datatable-button {
  margin-right: 5%;
}

th.sortable:after {
  content: '';
  background: url("../../../../../assets/img/normalfilter.svg") no-repeat;
  background-size: 22px;
  width: 22px;
  height: 22px;
  float: right;
  margin-right: -22px !important;
}

th.sortable.desc:after, th.sortable.asc:after {
  content: '';
  display: block;
  background: url("../../../../../assets/img/normalfilterasc.svg") no-repeat;
  float: right;
}

th.sortable.desc:after {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

.table-striped tbody tr:hover {
  background-color: #e3ecf4;
}

.table-striped tbody tr:nth-of-type(odd):hover {
    background-color: #e3ecf4;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #eaeaea;
}

.active {
    background-color: #cbe5fd !important;
}

.dropdown {
  color: #3D6C99;
}

.dropdown:hover {
  color:#003E79;
}

.dropdown:hover {
  color:#003E79;
}

.dropdown:active {
  color:#003E79;
}

.dropdown:after {
  display: none !important;
}

.icon {
  color: #3D6C99;
}

.icon:hover {
  color:#003E79;
}

.icon:active {
  color:#003E79;
}
