<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h2>Patiënt</h2>
        </div>
        <div class="col-md-6 text-right">
            <button class="btn btn-primary">Verwijderen</button>
            <button routerLink="edit" class="btn btn-primary">Bewerken</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <h5>Informatie</h5>
            <div>Max Bogaers (Man, 19)</div>
            <div>00000000000</div>
            <div>20-01-2001</div>
            <div>max@example.com</div>
            <div>+31612345678</div>
            <div>Maxstraat 64B</div>
            <div>1234AB Made, Nederland</div>
        </div>
        <div class="col-md-5">
            <h5>Alle medicatie</h5>
            <table class="table table-striped">
                <caption>Een tabel van de medicatie van de huidige patiënt.</caption>
                <thead>
                    <tr>
                        <th scope="col">Omschrijving</th>
                        <th scope="col">Startdatum</th>
                        <th scope="col">Einddatum</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Morfine 22mg tweemaals daags 1 tablet</td>
                        <td>17-12-2020</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <h5>Alle intoleranties</h5>
            <table class="table table-striped">
                <caption>Een tabel van alle intoleranties van de huidige patiënt.</caption>
                <thead>
                    <tr>
                        <th scope="col">Omschrijving</th>
                        <th scope="col">Startdatum</th>
                        <th scope="col">Einddatum</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Parfum</td>
                        <td>20-01-2001</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <h5>Huidige klachten</h5>
            <table class="table table-striped">
                <caption>Een tabel met de huidige klachten van de huidige patiënt.</caption>
                <thead>
                    <tr>
                        <th scope="col">Datum</th>
                        <th scope="col">Klacht/Probleem</th>
                        <th scope="col">ICPC</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>02-02-2020</td>
                        <td>roken: 15 sig/dag</td>
                        <td>P17</td>
                    </tr>
                </tbody>
            </table>

            <h5>Voorgeschiedenis</h5>
            <table class="table table-striped">
                <caption>Een tabel met de voorgeschiedenis van de huidige patiënt.</caption>
                <thead>
                    <tr>
                        <th scope="col">Datum</th>
                        <th scope="col">Klacht/Probleem</th>
                        <th scope="col">ICPC</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>02-06-1999</td>
                        <td>rugpijn</td>
                        <td>Z12</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
