<div class="page container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h2>Patiënt</h2>
        </div>
        <div class="col-md-6 text-right">
            <button class="btn btn-primary">Verwijderen</button>
            <button routerLink="edit" class="btn btn-primary ml-3">Bewerken</button>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-md-6">
            <div class="form-group">
                <h3>Informatie</h3>
                <ul class="list-group">
                    <li class="list-group-item bold d-flex justify-content-between w-100"><span>Naam:</span><span>Max Bogaers (Man, 19)</span></li>
                    <li class="list-group-item d-flex justify-content-between w-100"><span>Geboortedatum:</span><span>20-01-2001</span></li>
                    <li class="list-group-item d-flex justify-content-between w-100"><span>Email:</span><span>max@example.com</span></li>
                    <li class="list-group-item d-flex justify-content-between w-100"><span>Bsn:</span><span>123456789</span></li>
                    <li class="list-group-item d-flex justify-content-between w-100"><span>Telefoon nummer:</span><span>+31 6 12345678</span></li>
                    <li class="list-group-item d-flex justify-content-between w-100"><span>Adres:</span><span>Maxstraat 64B</span></li>
                    <li class="list-group-item d-flex justify-content-between w-100"><span>Postcode en Land:</span><span>1234AB Made, Nederland</span></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <h3>Location?</h3>
            </div>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-md-6">
            <h3>Alle medicatie</h3>
            <table class="table table-striped" aria-label="Een tabel van de medicatie van de huidige patiënt.">
                <thead>
                    <tr>
                        <th scope="col">Omschrijving</th>
                        <th scope="col">Startdatum</th>
                        <th scope="col">Einddatum</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Morfine 22mg tweemaals daags 1 tablet</td>
                        <td>17-12-2020</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h3>Huidige klachten</h3>
            <table class="table table-striped" aria-label="Een tabel met de huidige klachten van de huidige patiënt.">
                <thead>
                    <tr>
                        <th scope="col">Datum</th>
                        <th scope="col">Klacht/Probleem</th>
                        <th scope="col">ICPC</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>02-02-2020</td>
                        <td>roken: 15 sig/dag</td>
                        <td>P17</td>
                    </tr>
                </tbody>
            </table>
        </div>        
    </div>
    <div class="row py-3">
        <div class="col-md-6">
            <h3>Alle intoleranties</h3>
            <table class="table table-striped" aria-label="Een tabel van alle intoleranties van de huidige patiënt.">
                <thead>
                    <tr>
                        <th scope="col">Omschrijving</th>
                        <th scope="col">Startdatum</th>
                        <th scope="col">Einddatum</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Parfum</td>
                        <td>20-01-2001</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h3>Voorgeschiedenis</h3>
            <table class="table table-striped" aria-label="Een tabel met de voorgeschiedenis van de huidige patiënt.">
                <thead>
                    <tr>
                        <th scope="col">Datum</th>
                        <th scope="col">Klacht/Probleem</th>
                        <th scope="col">ICPC</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>02-06-1999</td>
                        <td>rugpijn</td>
                        <td>Z12</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
