<div class="page container-fluid d-flex flex-column">
  <div class="flex-grow-1 overflow-auto">
    <div class="d-flex flex-wrap p-3">
      <div class="mr-2 mb-2">
        <span>Lengte</span>
        <ul class="list-group">
          <li class="list-group-item border-0">16-12-2020 193</li>
          <li class="list-group-item border-0">16-12-2020 193</li>
          <li class="list-group-item border-0">16-12-2020 193</li>
        </ul>
      </div>
      <div class="mr-2 mb-2">
        <span>Gewicht</span>
        <ul class="list-group">
          <li class="list-group-item border-0">16-12-2020 74kg</li>
          <li class="list-group-item border-0">16-12-2020 74kg</li>
          <li class="list-group-item border-0">16-12-2020 74kg</li>
        </ul>
      </div>
      <div class="mr-2 mb-2">
        <span>Gewicht bijQI=27</span>
        <ul class="list-group">
          <li class="list-group-item border-0">16-12-2020 85,5kg</li>
          <li class="list-group-item border-0">16-12-2020 85,5kg</li>
          <li class="list-group-item border-0">16-12-2020 85,5kg</li>
        </ul>
      </div>
    </div>
  </div>
  <form>
    <div class="form-group">
      <select class="form-control">
        <option value="">Onderzoek</option>
      </select>
    </div>
    <div class="form-group d-flex">
      <div class="form-group w-50 pr-2 d-flex">
        <input class="form-control" placeholder="yyyy-mm-dd"
               name="dp" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
      <div class="form-group d-flex w-50 pl-2 align-items-center">
        <input type="text" class="form-control" placeholder="waarde">
        <label class="my-0 ml-2">KG</label>
      </div>
    </div>
    <input type="submit" class="btn btn-primary float-right mb-3" value="Toevoegen">
  </form>
</div>
