<div class="container">
  <h1>Form</h1>
  <form action="">
    <input type="text" class="input form-control input-validation-success">
  </form>
  <br>
  <select name="" id="" class="form-control">
    <option value="">Dog</option>
    <option value="">Cat</option>
    <option value="">Iets</option>
  </select>

  <br>
  <button class="btn-big semibold">LARGE BUTTON</button>
  <button class="btn-big-o semibold">LARGE BUTTON</button>
  <br>
  <br>
  <button class="btn-normal semibold">NORMAL BUTTON</button>
  <button class="btn-normal-o semibold">NORMAL BUTTON</button>
  <br>
  <br>
  <button class="btn-small semibold">SMALL BUTTON</button>
  <button class="btn-small-o semibold">LARGE BUTTON</button>
  <br>
  <br>
  <br>
  <button class="btn-small btn-standard semibold">SMALL BUTTON</button>
  <br>
  <br>
  <button class="btn-small btn-focus semibold">LARGE BUTTON</button>
  <br>
  <br>
  <button class="btn-small btn-hover semibold">LARGE BUTTON</button>
  <br>
  <br>
  <button class="btn-small btn-active semibold">LARGE BUTTON</button>
  <br>
  <br>
  <button class="btn-small btn-disabled semibold">LARGE BUTTON</button>
  <br>
  <br>


  <p>Default pagination:</p>
  <ngb-pagination [collectionSize]="70"  aria-label="Default pagination"></ngb-pagination>



  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
  </ul>

  <br>
  <br>
  <br>

  <div class="row">
    <div class="card col-md-4">
      <img class="card-img-top" src="https://via.placeholder.com/500x300" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title pink ligth">Tile title 1</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card col-md-4">
      <img class="card-img-top" src="https://via.placeholder.com/500x300" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title pink ligth">Tile title 1</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card col-md-4">
      <img class="card-img-top" src="https://via.placeholder.com/500x300" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title pink ligth">Tile title 1</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <br>
  <br>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Country</th>
      <th scope="col">Area</th>
      <th scope="col">Population</th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let country of countries; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
        {{ country.name }}
      </td>
      <td>{{ country.area | number }}</td>
      <td>{{ country.population | number }}</td>
    </tr>
    </tbody>
  </table>
</div>
