<div class="container">
  <h1>Form</h1>
  <form action="">
    <input type="text" class="form-control input-validation-success">
  </form>
  <br>
  <select name="" id="" class="form-control">
    <option value="">Dog</option>
    <option value="">Cat</option>
    <option value="">Iets</option>
  </select>

  <br>
  <button class="btn-big semibold">LARGE BUTTON</button>
  <button class="btn-big-o semibold">LARGE BUTTON</button>
  <br>
  <br>
  <button class="btn-normal semibold">NORMAL BUTTON</button>
  <button class="btn-normal-o semibold">NORMAL BUTTON</button>
  <br>
  <br>
  <button class="btn-small semibold">SMALL BUTTON</button>
  <button class="btn-small-o semibold">LARGE BUTTON</button>
  <br>
  <br>
  <br>
  <br>
  <br>
  <button class="btn-small btn-standard semibold">SMALL BUTTON</button>
  <br>
  <br>
  <button class="btn-small btn-focus semibold">LARGE BUTTON</button>
  <br>
  <br>
  <button class="btn-small btn-hover semibold">LARGE BUTTON</button>
  <br>
  <br>
  <button class="btn-small btn-active semibold">LARGE BUTTON</button>
  <br>
  <br>
  <button class="btn-small btn-disabled semibold">LARGE BUTTON</button>
  <br>
  <br>

</div>
