<form method="POST" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
  <div class="form-group">
    <label for="name">Naam</label>
    <input class="form-control" [ngClass]="form.controls['name'].invalid  && form.controls['name'].touched ? 'input-validation-error' :  ''" type="text" name="name" id="name" placeholder="Identifier eenheid" formControlName="name">

    <div *ngIf="form.controls['name'].invalid && form.controls['name'].touched">
      <div class="input-validation-error-text" *ngIf="form.controls['name'].errors.required">Naam is een verplicht veld.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="unit">Eenheid</label>
    <input class="form-control" [ngClass]="form.controls['unit'].invalid  && form.controls['unit'].touched ? 'input-validation-error' :  ''" type="text" name="unit" id="unit" placeholder="Eenheid" formControlName="unit">

    <div *ngIf="form.controls['unit'].invalid && form.controls['unit'].touched">
      <div class="input-validation-error-text" *ngIf="form.controls['unit'].errors.required">Eenheid is een verplicht veld.</div>
    </div>
  </div>

  <div class="form-group pt-3 text-right">
    <button class="btn btn-primary" type="submit">{{ buttonName }}</button>
  </div>
</form>
