<ng-template #modalContent>
  <div class="modal-header px-4 py-3">
    <h4 class="modal-title" id="modal-create-consult">Consult aanmaken</h4>
    <button type="button" class="close border-0" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body px-5 py-3">
  <form name="form" [formGroup]="form">

    <input type="hidden" name="id" id="consultation-id" formControlName="id">

    <div class="d-flex justify-content-between">
      <div class="form-group d-flex flex-column justify-content-center mr-2">
        <div class="input-group">
          <input id="date" class="form-control" [ngClass]="form.controls['date'].invalid && form.controls['date'].touched ? 'input-validation-error' : ''" placeholder="dd-mm-yyyy" name="dp" ngbDatepicker #dp="ngbDatepicker" formControlName="date" required>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
        <div *ngIf="form.controls['date'].invalid && form.controls['date'].touched">
          <div class="input-validation-error-text" *ngIf="form.controls['date'].errors.required">Een datum is verplicht</div>
        </div>
      </div>
      <div class="form-group">
        <ngb-timepicker formControlName="time"></ngb-timepicker>
        <div *ngIf="form.controls['time'].getError('incorrect')">
          <div class="input-validation-error-text" *ngIf="form.controls['time'].errors.required">Een tijd is verplicht</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <select class="form-control" [ngClass]="form.controls['patientId'].invalid && form.controls['patientId'].touched ? 'input-validation-error' : ''" name="patientId" id="patientId" formControlName="patientId" required>
        <option value="">Kies een patiënt</option>
        <option *ngFor="let patient of patients" [value]="patient.id">{{ patient.name }}</option>
      </select>
      <div *ngIf="form.controls['patientId'].invalid && form.controls['patientId'].touched">
        <div class="input-validation-error-text" *ngIf="form.controls['patientId'].errors.required">Een patient is verplicht</div>
      </div>
    </div>
    <div class="form-group">
      <select class="form-control" [ngClass]="form.controls['doctorId'].invalid && form.controls['doctorId'].touched ? 'input-validation-error' : ''" name="doctorId" id="doctorId" formControlName="doctorId" required>
        <option value="">Kies een arts</option>
        <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
      </select>
      <div *ngIf="form.controls['doctorId'].invalid && form.controls['doctorId'].touched">
        <div class="input-validation-error-text" *ngIf="form.controls['doctorId'].errors.required">Een arts is verplicht</div>
      </div>
    </div>
    <div class="form-group">
      <textarea class="form-control" [ngClass]="form.controls['comments'].invalid && form.controls['comments'].touched ? 'input-validation-error' : ''" name="comments" id="comments" rows="5" placeholder="Opmerkingen" formControlName="comments"></textarea>
      <div *ngIf="form.controls['comments'].invalid && form.controls['comments'].touched">
        <div class="input-validation-error-text" *ngIf="form.controls['comments'].errors.required">Een opmerking is verplicht</div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer d-flex justify-content-between px-4 py-3">
  <button type="button" class="btn btn-outline-danger" (click)="modal.close('Cancel click')">Annuleren</button>
  <button type="button" id="modal-create-consultation" class="btn btn-outline-primary" (click)="submit()" [disabled]="!form.valid">Aanmaken</button>
</div>
</ng-template>
