<div class="form-spinner" *ngIf="(editMode && !user?.id); else userForm">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<ng-template #userForm>
  <form method="POST" [formGroup]="form" (ngSubmit)="save()">

    <input type="hidden" Name="Id" id="user-Id" formControlName="Id">

    <div class="form-group">
      <label for="user-Name">Naam</label>
      <input class="form-control" type="text" Name="Name" id="user-Name" [class.input-validation-error]="form.controls['Name'].invalid && form.controls['Name'].touched" placeholder="Naam" formControlName="Name">
      <div id="Name-alert" *ngIf="form.controls['Name'].invalid && form.controls['Name'].touched">
        <div class="input-validation-error-text" *ngIf="form.controls['Name'].errors.required">Naam is een verplicht veld.</div>
        <div class="input-validation-error-text" *ngIf="form.controls['Name'].errors.maxlength">Naam is te lang.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="user-BSN">BSN</label>
      <input class="form-control" type="text" Name="BSN" id="user-BSN" [class.input-validation-error]="form.controls['BSN'].invalid && form.controls['BSN'].touched" placeholder="BSN" formControlName="BSN">
      <div id="BSN-alert" *ngIf="form.controls['BSN'].invalid && form.controls['BSN'].touched">
        <div class="input-validation-error-text" *ngIf="form.controls['BSN'].errors.required">BSN is een verplicht veld.</div>
        <div class="input-validation-error-text" *ngIf="form.controls['BSN'].errors.minlength">BSN is te kort.</div>
        <div class="input-validation-error-text" *ngIf="form.controls['BSN'].errors.maxlength">BSN is te lang.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="user-Email">Email</label>
      <input class="form-control" type="Email" Name="Email" id="user-Email" [class.input-validation-error]="form.controls['Email'].invalid && form.controls['Email'].touched" placeholder="Email" formControlName="Email">
      <div id="Email-alert" *ngIf="form.controls['Email'].invalid && form.controls['Email'].touched">
        <div class="input-validation-error-text" *ngIf="form.controls['Email'].errors.required">Email is een verplicht veld.</div>
        <div class="input-validation-error-text" *ngIf="form.controls['Email'].errors.maxlength">Email is te lang.</div>
        <div class="input-validation-error-text" *ngIf="form.controls['Email'].errors.email">Email is ongeldig.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="user-Dob">Geboortedatum</label>
      <input class="form-control" type="date" Name="Dob" id="user-Dob" [class.input-validation-error]="form.controls['Dob'].invalid && form.controls['Dob'].touched" placeholder="Geboortedatum" formControlName="Dob"/>
      <div id="Dob-alert" *ngIf="form.controls['Dob'].invalid && form.controls['Dob'].touched">
        <div class="input-validation-error-text" *ngIf="form.controls['Dob'].errors.required">Geboortedatum is een verplicht veld.</div>
      </div>
    </div>

    <div class="form-group">
      <label>Geslacht</label>
      <div class="custom-control custom-radio">
        <input type="radio" id="user-Gender-male" [class.input-validation-error]="form.controls['Gender'].invalid && form.controls['Gender'].touched" Name="Gender" class="custom-control-input" [value]="0" formControlName="Gender">
        <label class="custom-control-label" for="user-Gender-male">Man</label>
      </div>

      <div class="custom-control custom-radio">
        <input type="radio" id="user-Gender-female" [class.input-validation-error]="form.controls['Gender'].invalid && form.controls['Gender'].touched" Name="Gender" class="custom-control-input" [value]="1" formControlName="Gender">
        <label class="custom-control-label" for="user-Gender-female">Vrouw</label>
      </div>

      <div class="custom-control custom-radio">
        <input type="radio" id="user-Gender-other" [class.input-validation-error]="form.controls['Gender'].invalid && form.controls['Gender'].touched" Name="Gender" class="custom-control-input" [value]="2" formControlName="Gender">
        <label class="custom-control-label" for="user-Gender-other">Overige</label>
      </div>

      <div id="Gender-alert" *ngIf="form.controls['Gender'].invalid && form.controls['Gender'].touched">
        <div class="input-validation-error-text" *ngIf="form.controls['Gender'].errors.required">Geslacht is een verplicht veld.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="user-PhoneNumber-number">Telefoonnummer</label>
      <input class="form-control" type="text" Name="PhoneNumber-number" id="user-PhoneNumber-number" [class.input-validation-error]="form.controls['PhoneNumber'].invalid && form.controls['PhoneNumber'].touched" placeholder="Telefoonnummer" formControlName="PhoneNumber">
      <div id="user-PhoneNumber-alert" *ngIf="form.controls['PhoneNumber'].invalid && form.controls['PhoneNumber'].touched">
        <div class="input-validation-error-text" *ngIf="form.controls['PhoneNumber'].errors.required">Telefoonnummer is een verplicht veld.</div>
        <div class="input-validation-error-text" *ngIf="form.controls['PhoneNumber'].errors.maxlength">Telefoonnummer is te lang.</div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-row">
        <div class="col-6">
          <label for="user-Street">Straatnaam</label>
          <input class="form-control" type="text" Name="Street" id="user-Street" [class.input-validation-error]="form.controls['Street'].invalid && form.controls['Street'].touched" placeholder="Straatnaam" formControlName="Street">
          <div id="user-Street-alert" *ngIf="form.controls['Street'].invalid && form.controls['Street'].touched">
            <div class="input-validation-error-text" *ngIf="form.controls['Street'].errors.required">Straatnaam is een verplicht veld.</div>
            <div class="input-validation-error-text" *ngIf="form.controls['Street'].errors.maxlength">Straatnaam is te lang.</div>
          </div>
        </div>
        <div class="col-3">
          <label for="user-HouseNumber">Huisnummer</label>
          <input class="form-control" type="text" Name="HouseNumber" id="user-HouseNumber" [class.input-validation-error]="form.controls['HouseNumber'].invalid && form.controls['HouseNumber'].touched" placeholder="Huisnummer" formControlName="HouseNumber">
          <div id="user-HouseNumber-alert" *ngIf="form.controls['HouseNumber'].invalid && form.controls['HouseNumber'].touched">
            <div class="input-validation-error-text" *ngIf="form.controls['HouseNumber'].errors.required">Huisnummer is een verplicht veld.</div>
            <div class="input-validation-error-text" *ngIf="form.controls['HouseNumber'].errors.maxlength">Huisnummer is te lang.</div>
          </div>
        </div>
        <div class="col-3">
          <label for="user-HouseNumberAddon">Toevoeging</label>
          <input class="form-control" type="text" Name="HouseNumberAddon" id="user-HouseNumberAddon" [class.input-validation-error]="form.controls['HouseNumberAddon'].invalid && form.controls['HouseNumberAddon'].touched" placeholder="Toevoeging" formControlName="HouseNumberAddon">
          <div id="user-HouseNumberAddon-alert" *ngIf="form.controls['HouseNumberAddon'].invalid && form.controls['HouseNumberAddon'].touched">
            <div class="input-validation-error-text" *ngIf="form.controls['HouseNumberAddon'].errors.maxlength">Toevoeging is te lang.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-row">
        <div class="col-6">
          <label for="user-City">Stad</label>
          <input class="form-control" type="text" id="user-City" [class.input-validation-error]="form.controls['City'].invalid && form.controls['City'].touched" Name="City" placeholder="Stad" formControlName="City">
          <div id="user-City-alert" *ngIf="form.controls['City'].invalid && form.controls['City'].touched">
            <div class="input-validation-error-text" *ngIf="form.controls['City'].errors.required">Stad is een verplicht veld.</div>
            <div class="input-validation-error-text" *ngIf="form.controls['City'].errors.maxlength">Stad is te lang.</div>
          </div>
        </div>
        <div class="col-2">
          <label for="user-PostalCode">Postcode</label>
          <input class="form-control" [class.input-validation-error]="form.controls['PostalCode'].invalid && form.controls['PostalCode'].touched" type="text" Name="PostalCode" id="user-PostalCode" placeholder="Postcode" formControlName="PostalCode">
          <div id="user-PostalCode-alert" *ngIf="form.controls['PostalCode'].invalid && form.controls['PostalCode'].touched">
            <div class="input-validation-error-text" *ngIf="form.controls['PostalCode'].errors.required">Postcode is een verplicht veld.</div>
            <div class="input-validation-error-text" *ngIf="form.controls['PostalCode'].errors.minlength">Postcode is te kort.</div>
            <div class="input-validation-error-text" *ngIf="form.controls['PostalCode'].errors.maxlength">Postcode is te lang.</div>
          </div>
        </div>
        <div class="col-4">
          <label for="user-Country">Land</label>
          <select class="custom-select" id="user-Country" [class.input-validation-error]="form.controls['Country'].invalid && form.controls['Country'].touched" Name="Country" formControlName="Country">
            <option class="" value="AF">Afghanistan</option>
            <option class="" value="AX">&Aring;land</option>
            <option class="" value="AL">Albani&euml;</option>
            <option class="" value="DZ">Algerije</option>
            <option class="" value="VI">Amerikaanse Maagdeneilanden</option>
            <option class="" value="AS">Amerikaans-Samoa</option>
            <option class="" value="AD">Andorra</option>
            <option class="" value="AO">Angola</option>
            <option class="" value="AI">Anguilla</option>
            <option class="" value="AQ">Antarctica</option>
            <option class="" value="AG">Antigua en Barbuda</option>
            <option class="" value="AR">Argentini&euml;</option>
            <option class="" value="AM">Armeni&euml;</option>
            <option class="" value="AW">Aruba</option>
            <option class="" value="AU">Australi&euml;</option>
            <option class="" value="AZ">Azerbeidzjan</option>
            <option class="" value="BS">Bahama's</option>
            <option class="" value="BH">Bahrein</option>
            <option class="" value="BD">Bangladesh</option>
            <option class="" value="BB">Barbados</option>
            <option class="" value="BE">Belgi&euml;</option>
            <option class="" value="BZ">Belize</option>
            <option class="" value="BJ">Benin</option>
            <option class="" value="BM">Bermuda</option>
            <option class="" value="BT">Bhutan</option>
            <option class="" value="BO">Bolivia</option>
            <option class="" value="BQ">Bonaire, Sint Eustatius en Saba</option>
            <option class="" value="BA">Bosni&euml; en Herzegovina</option>
            <option class="" value="BW">Botswana</option>
            <option class="" value="BV">Bouveteiland</option>
            <option class="" value="BR">Brazili&euml;</option>
            <option class="" value="VG">Britse Maagdeneilanden</option>
            <option class="" value="IO">Brits Indische Oceaanterritorium</option>
            <option class="" value="BN">Brunei</option>
            <option class="" value="BG">Bulgarije</option>
            <option class="" value="BF">Burkina Faso</option>
            <option class="" value="BI">Burundi</option>
            <option class="" value="KH">Cambodja</option>
            <option class="" value="CA">Canada</option>
            <option class="" value="CF">Centraal-Afrikaanse Republiek</option>
            <option class="" value="CL">Chili</option>
            <option class="" value="CN">China</option>
            <option class="" value="CX">Christmaseiland</option>
            <option class="" value="CC">Cocoseilanden</option>
            <option class="" value="CO">Colombia</option>
            <option class="" value="KM">Comoren</option>
            <option class="" value="CG">Congo-Brazzaville</option>
            <option class="" value="CD">Congo-Kinshasa</option>
            <option class="" value="CK">Cookeilanden</option>
            <option class="" value="CR">Costa Rica</option>
            <option class="" value="CU">Cuba</option>
            <option class="" value="CW">Cura&ccedil;ao</option>
            <option class="" value="CY">Cyprus</option>
            <option class="" value="DK">Denemarken</option>
            <option class="" value="DJ">Djibouti</option>
            <option class="" value="DM">Dominica</option>
            <option class="" value="DO">Dominicaanse Republiek</option>
            <option class="" value="DE">Duitsland</option>
            <option class="" value="EC">Ecuador</option>
            <option class="" value="EG">Egypte</option>
            <option class="" value="SV">El Salvador</option>
            <option class="" value="GQ">Equatoriaal-Guinea</option>
            <option class="" value="ER">Eritrea</option>
            <option class="" value="EE">Estland</option>
            <option class="" value="ET">Ethiopi&euml;</option>
            <option class="" value="FO">Faer&ouml;er</option>
            <option class="" value="FK">Falklandeilanden</option>
            <option class="" value="FJ">Fiji</option>
            <option class="" value="PH">Filipijnen</option>
            <option class="" value="FI">Finland</option>
            <option class="" value="FR">Frankrijk</option>
            <option class="" value="TF">Franse Zuidelijke en Antarctische Gebieden</option>
            <option class="" value="GF">Frans-Guyana</option>
            <option class="" value="PF">Frans-Polynesi&euml;</option>
            <option class="" value="GA">Gabon</option>
            <option class="" value="GM">Gambia</option>
            <option class="" value="GE">Georgi&euml;</option>
            <option class="" value="GH">Ghana</option>
            <option class="" value="GI">Gibraltar</option>
            <option class="" value="GD">Grenada</option>
            <option class="" value="GR">Griekenland</option>
            <option class="" value="GL">Groenland</option>
            <option class="" value="GP">Guadeloupe</option>
            <option class="" value="GU">Guam</option>
            <option class="" value="GT">Guatemala</option>
            <option class="" value="GG">Guernsey</option>
            <option class="" value="GN">Guinee</option>
            <option class="" value="GW">Guinee-Bissau</option>
            <option class="" value="GY">Guyana</option>
            <option class="" value="HT">Ha&iuml;ti</option>
            <option class="" value="HM">Heard en McDonaldeilanden</option>
            <option class="" value="HN">Honduras</option>
            <option class="" value="HU">Hongarije</option>
            <option class="" value="HK">Hongkong</option>
            <option class="" value="IE">Ierland</option>
            <option class="" value="IS">IJsland</option>
            <option class="" value="IN">India</option>
            <option class="" value="ID">Indonesi&euml;</option>
            <option class="" value="IQ">Irak</option>
            <option class="" value="IR">Iran</option>
            <option class="" value="IL">Isra&euml;l</option>
            <option class="" value="IT">Itali&euml;</option>
            <option class="" value="CI">Ivoorkust</option>
            <option class="" value="JM">Jamaica</option>
            <option class="" value="JP">Japan</option>
            <option class="" value="YE">Jemen</option>
            <option class="" value="JE">Jersey</option>
            <option class="" value="JO">Jordani&euml;</option>
            <option class="" value="KY">Kaaimaneilanden</option>
            <option class="" value="CV">Kaapverdi&euml;</option>
            <option class="" value="CM">Kameroen</option>
            <option class="" value="KZ">Kazachstan</option>
            <option class="" value="KE">Kenia</option>
            <option class="" value="KG">Kirgizi&euml;</option>
            <option class="" value="KI">Kiribati</option>
            <option class="" value="UM">Kleine Pacifische eilanden van de V.S.</option>
            <option class="" value="KW">Koeweit</option>
            <option class="" value="HR">Kroati&euml;</option>
            <option class="" value="LA">Laos</option>
            <option class="" value="LS">Lesotho</option>
            <option class="" value="LV">Letland</option>
            <option class="" value="LB">Libanon</option>
            <option class="" value="LR">Liberia</option>
            <option class="" value="LY">Libi&euml;</option>
            <option class="" value="LI">Liechtenstein</option>
            <option class="" value="LT">Litouwen</option>
            <option class="" value="LU">Luxemburg</option>
            <option class="" value="MO">Macau</option>
            <option class="" value="MK">Macedoni&euml;</option>
            <option class="" value="MG">Madagaskar</option>
            <option class="" value="MW">Malawi</option>
            <option class="" value="MV">Maldiven</option>
            <option class="" value="MY">Maleisi&euml;</option>
            <option class="" value="ML">Mali</option>
            <option class="" value="MT">Malta</option>
            <option class="" value="IM">Man</option>
            <option class="" value="MA">Marokko</option>
            <option class="" value="MH">Marshalleilanden</option>
            <option class="" value="MQ">Martinique</option>
            <option class="" value="MR">Mauritani&euml;</option>
            <option class="" value="MU">Mauritius</option>
            <option class="" value="YT">Mayotte</option>
            <option class="" value="MX">Mexico</option>
            <option class="" value="FM">Micronesia</option>
            <option class="" value="MD">Moldavi&euml;</option>
            <option class="" value="MC">Monaco</option>
            <option class="" value="MN">Mongoli&euml;</option>
            <option class="" value="ME">Montenegro</option>
            <option class="" value="MS">Montserrat</option>
            <option class="" value="MZ">Mozambique</option>
            <option class="" value="MM">Myanmar</option>
            <option class="" value="NA">Namibi&euml;</option>
            <option class="" value="NR">Nauru</option>
            <option class="" value="NL">Nederland</option>
            <option class="" value="NP">Nepal</option>
            <option class="" value="NI">Nicaragua</option>
            <option class="" value="NC">Nieuw-Caledoni&euml;</option>
            <option class="" value="NZ">Nieuw-Zeeland</option>
            <option class="" value="NE">Niger</option>
            <option class="" value="NG">Nigeria</option>
            <option class="" value="NU">Niue</option>
            <option class="" value="MP">Noordelijke Marianen</option>
            <option class="" value="KP">Noord-Korea</option>
            <option class="" value="NO">Noorwegen</option>
            <option class="" value="NF">Norfolk</option>
            <option class="" value="UG">Oeganda</option>
            <option class="" value="UA">Oekra&iuml;ne</option>
            <option class="" value="UZ">Oezbekistan</option>
            <option class="" value="OM">Oman</option>
            <option class="" value="AT">Oostenrijk</option>
            <option class="" value="TL">Oost-Timor</option>
            <option class="" value="PK">Pakistan</option>
            <option class="" value="PW">Palau</option>
            <option class="" value="PS">Palestina</option>
            <option class="" value="PA">Panama</option>
            <option class="" value="PG">Papoea-Nieuw-Guinea</option>
            <option class="" value="PY">Paraguay</option>
            <option class="" value="PE">Peru</option>
            <option class="" value="PN">Pitcairneilanden</option>
            <option class="" value="PL">Polen</option>
            <option class="" value="PT">Portugal</option>
            <option class="" value="PR">Puerto Rico</option>
            <option class="" value="QA">Qatar</option>
            <option class="" value="RE">R&eacute;union</option>
            <option class="" value="RO">Roemeni&euml;</option>
            <option class="" value="RU">Rusland</option>
            <option class="" value="RW">Rwanda</option>
            <option class="" value="BL">Saint-Barth&eacute;lemy</option>
            <option class="" value="KN">Saint Kitts en Nevis</option>
            <option class="" value="LC">Saint Lucia</option>
            <option class="" value="PM">Saint-Pierre en Miquelon</option>
            <option class="" value="VC">Saint Vincent en de Grenadines</option>
            <option class="" value="SB">Salomonseilanden</option>
            <option class="" value="WS">Samoa</option>
            <option class="" value="SM">San Marino</option>
            <option class="" value="SA">Saoedi-Arabi&euml;</option>
            <option class="" value="ST">Sao Tom&eacute; en Principe</option>
            <option class="" value="SN">Senegal</option>
            <option class="" value="RS">Servi&euml;</option>
            <option class="" value="SC">Seychellen</option>
            <option class="" value="SL">Sierra Leone</option>
            <option class="" value="SG">Singapore</option>
            <option class="" value="SH">Sint-Helena, Ascension en Tristan da Cunha</option>
            <option class="" value="MF">Sint-Maarten</option>
            <option class="" value="SX">Sint Maarten</option>
            <option class="" value="SI">Sloveni&euml;</option>
            <option class="" value="SK">Slowakije</option>
            <option class="" value="SD">Soedan</option>
            <option class="" value="SO">Somali&euml;</option>
            <option class="" value="ES">Spanje</option>
            <option class="" value="SJ">Spitsbergen en Jan Mayen</option>
            <option class="" value="LK">Sri Lanka</option>
            <option class="" value="SR">SuriName</option>
            <option class="" value="SZ">Swaziland</option>
            <option class="" value="SY">Syri&euml;</option>
            <option class="" value="TJ">Tadzjikistan</option>
            <option class="" value="TW">Taiwan</option>
            <option class="" value="TZ">Tanzania</option>
            <option class="" value="TH">Thailand</option>
            <option class="" value="TG">Togo</option>
            <option class="" value="TK">Tokelau</option>
            <option class="" value="TO">Tonga</option>
            <option class="" value="TT">Trinidad en Tobago</option>
            <option class="" value="TD">Tsjaad</option>
            <option class="" value="CZ">Tsjechi&euml;</option>
            <option class="" value="TN">Tunesi&euml;</option>
            <option class="" value="TR">Turkije</option>
            <option class="" value="TM">Turkmenistan</option>
            <option class="" value="TC">Turks- en Caicoseilanden</option>
            <option class="" value="TV">Tuvalu</option>
            <option class="" value="UY">Uruguay</option>
            <option class="" value="VU">Vanuatu</option>
            <option class="" value="VA">Vaticaanstad</option>
            <option class="" value="VE">Venezuela</option>
            <option class="" value="AE">Verenigde Arabische Emiraten</option>
            <option class="" value="US">Verenigde Staten</option>
            <option class="" value="GB">Verenigd Koninkrijk</option>
            <option class="" value="VN">Vietnam</option>
            <option class="" value="WF">Wallis en Futuna</option>
            <option class="" value="EH">Westelijke Sahara</option>
            <option class="" value="BY">Wit-Rusland</option>
            <option class="" value="ZM">Zambia</option>
            <option class="" value="ZW">Zimbabwe</option>
            <option class="" value="ZA">Zuid-Afrika</option>
            <option class="" value="GS">Zuid-Georgia en de Zuidelijke Sandwicheilanden</option>
            <option class="" value="KR">Zuid-Korea</option>
            <option class="" value="SS">Zuid-Soedan</option>
            <option class="" value="SE">Zweden</option>
            <option class="" value="CH">Zwitserland</option>
          </select>
          <div id="user-Country-alert" *ngIf="form.controls['Country'].invalid && form.controls['Country'].touched">
            <div class="input-validation-error-text" *ngIf="form.controls['Country'].errors.required">Land is een verplicht veld.</div>
            <div class="input-validation-error-text" *ngIf="form.controls['Country'].errors.maxlength">Land is te lang.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="Username">Gebruikersnaam</label>
      <input class="form-control" type="text" Name="Username" id="Username" [class.input-validation-error]="form.controls['Username'].invalid && form.controls['Username'].touched" placeholder="Gebruikersnaam" formControlName="Username">
      <div id="user-Username-alert" *ngIf="form.controls['Username'].invalid && form.controls['Username'].touched">
        <div class="input-validation-error-text" *ngIf="form.controls['Username'].errors.required">Gebruikersnaam is een verplicht veld.</div>
        <div class="input-validation-error-text" *ngIf="form.controls['Username'].errors.maxlength">Gebruikersnaam is te lang.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="Password">Wachtwoord</label>
      <input class="form-control" type="Password" Name="Password" id="Password" [class.input-validation-error]="form.controls['Password'].invalid && form.controls['Password'].touched" placeholder="Wachtwoord" formControlName="Password">
      <div id="user-Password-alert" *ngIf="form.controls['Password'].invalid && form.controls['Password'].touched">
        <div class="input-validation-error-text" *ngIf="form.controls['Password'].errors.required">Wachtwoord is een verplicht veld.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="PasswordCheck">Wachtwoord herhalen</label>
      <input class="form-control" type="Password" Name="PasswordCheck" id="PasswordCheck" [class.input-validation-error]="form.controls['PasswordCheck'].touched && (form.controls['PasswordCheck'].invalid || form.errors?.notMatching)" placeholder="Wachtwoord herhalen" formControlName="PasswordCheck">
      <div id="user-PasswordCheck-alert" *ngIf="form.controls['PasswordCheck'].touched">
        <div class="input-validation-error-text" *ngIf="form.controls['PasswordCheck'].invalid && form.controls['PasswordCheck'].errors.required">Wachtwoord herhalen is een verplicht veld.</div>
        <div class="input-validation-error-text" *ngIf="form.errors?.notMatching">Het bevestigde wachtwoord komt niet overeen met het wachtwoord</div>
      </div>
    </div>

    <div class="form-group pt-3 text-right">
      <button class="btn btn-primary" type="submit">{{ buttonName }}</button>
    </div>
  </form>
</ng-template>
