<div class="page container-fluid">
  <div class="d-flex justify-content-between w-100">
    <h2>Agenda</h2>
    <button class="btn btn-primary" id="create-consult-btn" (click)="consultCreateEmitter.next({})">+ Aanmaken</button>
  </div>
  <div class="d-flex justify-content-between flex-wrap w-100 py-3">
    <div class="d-flex col-sm-12 col-md-8 mb-2 p-0">
      <form class="form-inline col-sm-12 col-md-auto p-0">
        <div class="form-group col-sm-12 col-md-auto p-0">
          <div class="input-group d-flex justify-content-between col-sm-12 col-md-auto p-0">
            <div class="d-flex">
              <span class="d-flex align-items-center px-2" (click)="prevDay()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-chevron-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                </svg>
              </span>
              <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="date" ngbDatepicker
                #d="ngbDatepicker" (dateSelect)="changeDate($event)">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
              </div>
              <span class="d-flex align-items-center px-2" (click)="nextDay()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-chevron-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                </svg>
              </span>
            </div>
            <button class="btn btn-primary ml-3 mt-2 mt-sm-0" (click)="selectToday()">Vandaag</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <app-datatable-component #dataTable [show]="headerArray" [actions]="actionsArray" [service]="consultService"></app-datatable-component>
  <app-delete-modal [deleteEntity]="deleteEntity" [service]="consultService"></app-delete-modal>
  <app-consult-create [initialConsultation]="consultCreate" (createComplete)="onCreateComplete($event)"></app-consult-create>
</div>
