html {
  font-family: "Segoe UI", serif!important;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*!
 * CUSTOM CSS BUTTONS
 */

.btn-big{
  font-size: 17px;
  height: 45px;
  border: 1px;
  border-radius: 3px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  background: #3d6c99;
  color: #FFFFFF;
}

.btn-big-o{
  font-size: 17px;
  height: 45px;
  border: 1px solid #3d6c99;
  border-radius: 3px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  background: #FFFFFF;
  color: #3d6c99;
}

.btn-normal{
  font-size: 15px;
  height: 35px;
  border: 1px;
  border-radius: 3px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  background: #3d6c99;
  color: #FFFFFF;
}

.btn-normal-o{
  font-size: 15px;
  height: 35px;
  border: 1px solid #3d6c99;
  border-radius: 3px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  background: #FFFFFF;
  color: #3d6c99;
}

.btn-small{
  font-size: 13px;
  height: 30px;
  border: 1px;
  border-radius: 3px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  background: #3d6c99;
  color: #FFFFFF;
}

.btn-small-o{
  font-size: 13px;
  height: 30px;
  border: 1px solid #3d6c99;
  border-radius: 3px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  background: #FFFFFF;
  color: #3d6c99;
}

.btn-standard{
  background: #FFFFFF;
  color: #3d6c99;
  border: 1px solid #3d6c99;
}

.btn-focus{
  background: #3d6c99;
  color: #FFFFFF;
  border: 1px solid #3d6c99;
}

.btn-hover{
  background: #004A91;
  color: #FFFFFF;
  border: 1px solid #004A91;
}

.btn-active{
  background: #5B84A8;
  color: #FFFFFF;
  border: 1px solid #5B84A8;
}

.btn-disabled{
  background: #CFCFCF;
  color: #989898;
  border: 1px solid #CFCFCF;
}

/*!
 * CUSTOM CSS INPUT
 */

input{
  height: 35px;
  border-color: #C6C6C6;
}

input:focus{
  border-color: #3d6c99;
}

.input-validation-success{
  border-color: #1ab394
}

.input-validation-error{
  border-color: #c1272d;
}

.input-validation-error-text{
  font-size: 13px;
  color: #c1272d
}

/*!
 * CUSTOM CSS INPUT RADIO
 */

input[type="radio"]:disabled{
  color: #b1b1b1;
}

input[type="radio"]:inactive-selection{
  color: #313131;
}

input[type="radio"]:hover{
  color: #3d6c99;
}

input[type="radio"]:active{
  font-style: oblique;
  color: #004a91;
}

/*!
 * CUSTOM CSS INPUT CHECKBOX
 */

input[type="checkbox"]:disabled{
  color: #b1b1b1;
}

input[type="checkbox"]:inactive-selection{
  color: #313131;
}

input[type="checkbox"]:hover{
  color: #3d6c99;
}

input[type="checkbox"]:active{
  font-style: oblique;
  color: #004a91;
}

/*!
 * CUSTOM CSS INPUT SELECTBOX
 */

select{
  border-color: #C6C6C6!important;
}

/*!
 * CUSTOM CSS CUSTOM COLORS
 */

.pink{
  color: #ED1E79;
}

.cyan-blue{
  color: #003E79;
}

.dark-blue{
  color: #004a91;
}

.dark-blue-l{
  color: #3D6C99;
}

.light-blue{
  color: #CBE5FD;
}

.dark-gray{
  color: #666666;
}

.gray{
  color: #989898;
}

.light-gray{
  color: #EFEFEF;
}

.black{
  color: #010005;
}

.white{
  color: #FFFFFF;
}

/*!
 * CUSTOM CSS CUSTOM SVG COLORS
 */

.svg-standard{
  background: #3D6C99;
}

.svg-focus{
  background: #004A91;
}

.svg-hover{
  background: #003E79;
}

.svg-inactive{
  background: #989898;
}

.svg-inactive-disabled{
  background: #DBDBDB;
}

/*!
 * CUSTOM CSS CUSTOM FONT WEIGHTS
 */

.bold{
  font-weight: 800;
}

.semibold{
  font-weight: 600;
}


