/*!
 * CUSTOM CSS
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, html body, html body .wrapper {

  min-width: 100vw;
  max-width: 100vw;
  width: 100vw;

  min-height: 100vh;
  height: 100vh;

  overflow-x: hidden;
  overflow-y: auto;
}

.master-layout-router + * {
  flex-grow: 1;
}

.page {

  padding: 0 2%;

  width: 100%;
  min-width: 100%;
  max-width: 100%;

  height: 100%;
  min-height: 100%;

  overflow-x: hidden;
  overflow-y: auto;
}

/*!
 * CUSTOM CSS FONT
 */

p{
  color: #010005;
  font-size: 15px;
}

.bold{
  font-weight: 800;
}

.semibold{
  font-weight: 600;
}

.ligth{
  font-weight: 200;
}

a.nav-active{
  background: #cbe5fd;
  color: #000;
}

html {
  font-family: "Segoe UI", serif!important;
}

* {
  font-family: "Segoe UI", serif!important;
}

body{
  font-family: "Segoe UI", serif!important;
}
/*!
 * CUSTOM CSS COLORS
 */

.pink{
  color: #ED1E79;
}

.bg-pink{
  background-color: #ED1E79;
  color: #fff;
}

.cyan-blue{
  color: #003E79;
}

.dark-blue{
  color: #004A91;
}

.dark-blue-l{
  color: #3D6C99;
}

.light-blue{
  color: #CBE5FD;
}

.dark-gray{
  color: #666666;
}

.gray{
  color: #989898;
}

.light-gray{
  color: #EFEFEF;
}

.black{
  color: #010005;
}

.white{
  color: #FFFFFF;
}

/*!
 * CUSTOM CSS BUTTONS
 */

.btn-big{
  font-size: 17px;
  height: 45px;
  border: 1px;
  border-radius: 3px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  background: #3D6C99;
  color: #FFFFFF;
}

.btn-big-o{
  font-size: 17px;
  height: 45px;
  border: 1px solid #3D6C99;
  border-radius: 3px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  background: #FFFFFF;
  color: #3D6C99;
}

.btn-normal{
  font-size: 15px;
  height: 35px;
  border: 1px;
  border-radius: 3px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  background: #3D6C99;
  color: #FFFFFF;
}

.btn-normal-o{
  font-size: 15px;
  height: 35px;
  border: 1px solid #3D6C99;
  border-radius: 3px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  background: #FFFFFF;
  color: #3D6C99;
}

.btn-small{
  font-size: 13px;
  height: 30px;
  border: 1px;
  border-radius: 3px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  background: #3D6C99;
  color: #FFFFFF;
}

.btn-small-o{
  font-size: 13px;
  height: 30px;
  border: 1px solid #3d6c99;
  border-radius: 3px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  background: #FFFFFF;
  color: #3D6C99;
}

.btn-standard{
  background: #FFFFFF;
  color: #3D6C99;
  border: 1px solid #3D6C99;
}

.btn-focus{
  background: #3D6C99;
  color: #FFFFFF;
  border: 1px solid #3D6C99;
}

.btn-hover{
  background: #004A91;
  color: #FFFFFF;
  border: 1px solid #004A91;
}

.btn-active{
  background: #5B84A8;
  color: #FFFFFF;
  border: 1px solid #5B84A8;
}

.btn-disabled{
  background: #CFCFCF;
  color: #989898;
  border: 1px solid #CFCFCF;
}

/*!
 * CUSTOM CSS INPUT
 */

.input{
  height: 35px;
  border-color: #C6C6C6;
}

input:focus{
  border-color: #3D6C99;
}

.input-validation-success{
  border-color: #1AB394
}

.input-validation-error{
  border-color: #C1272D;
}

.input-validation-error-text{
  font-size: 13px;
  color: #C1272D
}

/*!
 * CUSTOM CSS INPUT RADIO
 */

input[type="radio"]:disabled{
  color: #B1B1B1;
}

/*input[type="radio"]:inactive-selection{*/
/*  color: #313131;*/
/*}*/

input[type="radio"]:hover{
  color: #3D6C99;
}

input[type="radio"]:checked{
  font-weight: 800;
  color: #004A91;
}

/*!
 * CUSTOM CSS INPUT CHECKBOX
 */

input[type="checkbox"]:disabled{
  color: #B1B1B1;
}

/*input[type="checkbox"]:inactive-selection{*/
/*  color: #313131;*/
/*}*/

input[type="checkbox"]:hover{
  color: #3D6C99;
}

input[type="checkbox"]:checked{
  font-weight: 800;
  color: #004A91;
}

/*!
 * CUSTOM CSS INPUT SELECTBOX
 */

select{
  border-color: #C6C6C6!important;
}

/*!
 * CUSTOM CSS SVG COLORS
 */

.svg-standard{
  background: #3D6C99;
}

.svg-focus{
  background: #004A91;
}

.svg-hover{
  background: #003E79;
}

.svg-inactive{
  background: #989898;
}

.svg-inactive-disabled{
  background: #DBDBDB;
}

/*!
 * CUSTOM CSS PAGINATION
 */

.pagination{
  font-size: 16px;
}

.pagination > li > a
{
  background-color: #FFFFFF;
  color: #666666;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
  color: #FFFFFF;
  background-color: #004A91;
  border-color: #004A91;
}

.pagination > .active > a
{
  color: white;
  background-color: #004A91 !Important;
  border: solid 1px #004A91 !Important;
}

.pagination > .active > a:hover
{
  background-color: #004A91 !Important;
  border: solid 1px #004A91;
}


/*!
 * CUSTOM CSS TABS (PILLS)
 */

.nav-pills > .nav-item > a.active, a{
  color: #010005;
  background: none;
}
.nav-pills > .nav-item  > .nav-link {
  border-radius: 0px;
}
.nav-pills > .nav-item > a.active{
  border-bottom: 3px solid #29ABE2;
}

/*!
 * CUSTOM CSS CARDS
 */

.card {
  border: none;
}
.card-title{
  font-size: 26px;
}

.card-body {
  background-color: #F7F7F7;
}

/*!
 * CUSTOM CSS TABLE
 */

table > tbody > tr {
  height: 40px;
}

table > tbody > tr:hover {
  background-color: #E3ECF4;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #EAEAEA;
}

.table-striped tbody tr:nth-of-type(odd):hover {
  background-color: #E3ECF4;
}

.table-active {
  background-color: #CBE5FD;
}

button.calendar, button.calendar:active {
  width: 2.75rem;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=) !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: 50%;
}
